*.o
*.lo
*.la
#*#
.*.rej
*.rej
.*~
*~
.#*
.DS_Store
*.sw[po]
tags
TAGS
Makefile
Makefile.old
inc/
pm_to_blib
blib
META.yml
MANIFEST.bak
.PerlySenseProject
Thumbs.db
covered
*_flymake.pm
*_flymake.html
tmp
MYMETA.*
.carton/
local/
/.dimconfig
